@media (max-width: 1100px) {

  .quick-search {display: none;}

}

@media(min-width:768px) {
    .navbar-default {
        border-color: transparent;
        background-color: rgba(34, 34, 34, 0.1);
        min-height: 55px;
    }

    .navbar-header > .navbar-brand {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.9);
        padding: 14px;
        text-shadow: 1px 1px 1px rgba(60,60,60,0.7);
    }

    .navbar-header > .navbar-brand small {font-size: 14px;}

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f4f4f4;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,0.8);
        padding: 20px 20px 0 20px;
        letter-spacing: 1px;
        text-shadow: 1px 1px 1px rgba(60,60,60,0.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fefefe;
    }

    .navbar-default.affix {
        border-color: rgba(34, 34, 34, 0);
        background-color: rgba(34, 34, 34, 0.9);
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        padding: 18px; letter-spacing: 1px;
        font-size: 15px; color: #96de49; text-shadow: 0 1px 1px rgba(60,60,60,0.5);
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #96de49;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30,30,30,0.7);
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #72b442;
    }
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute; top: 50%; padding: 0 50px;
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }

    section {
        min-height: 600px;
        padding: 100px 0;
    }

}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
}