@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('http://fonts.googleapis.com/css?family=Dancing+Script:700');

@font-face {
    font-family: 'clear-sans-regular';
    src: url('../fonts/clear-sans-regular.ttf') format('truetype');
    font-weight: normal; font-style: normal;
}

html, body {
    width: 100%; height: 100%;
    font-family: 'clear-sans-regular', sans-serif; font-size: 16px; color: #fff; line-height: 1.3;
    background: #0a0a0a;
}

a {
    color: #8CBBAD;
    transition: all .35s;
}

a:hover, a:focus {
    color: #619333;
    outline: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Questrial','Helvetica Neue', Arial, sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 17px; line-height: 1.7;
}

hr {
    max-width: 80px; margin-top: 15px; margin-bottom: 15px;
    border: 0; border-bottom: 1px dashed #555555; height: 1px; opacity: 0.8;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

input {
    color: #37511b;
}

textarea {
    //resize: none;
}

header {
    position: relative;
    text-align: center;
    color: #fff;
    width: 100%;
    background-position: center;
    background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
}

section {
    padding: 70px 0;
}

aside {
    padding: 50px 0;
}

footer {
    padding: 15px;
}

#ajax {position: fixed; z-index: 9999; left: 0; top: 14px; display: none;}

#load, .load {
    width: 40px; height: 26px; background: url("../images/pic/load1.svg") center center no-repeat; display: inline-block;
}
#load-mini, .load-mini {
    width: 20px; height: 16px; background: url("../images/pic/load1.svg") center center no-repeat; display: inline-block;
}

#topNavBitbucket {
    position: absolute; z-index: 999; right: 30px; bottom: 30px; opacity: 0.4;
}

.bg-dark {
    color: #eee;
    background-color: #222;
}

#search {
  position: fixed; z-index: 100; top: 55px; right: 0; width: 25%; min-width: 390px; height: 100%; padding: 24px 0 12px 0;
  border-left: 1px solid #000; background-color: rgba(11, 11, 11, 0.95);
  opacity: 0; visibility: hidden; transform: translateX(200px); transition: all 0.2s ease-in-out;
}
#search.show {opacity: 1; visibility: visible; transform: translateX(0px);}
#search .btn-link:hover {text-decoration: none;}

#sys-messages {position: fixed; z-index: 9999; top: 56px; right: 3px; font-size: 14px; color: #fff; text-align: center;}
#sys-messages>div {margin-bottom: 3px;}
#sys-messages .mess {width: 200px; padding: 12px; background-color: rgba(0,0,0,0.9); border-radius: 2px; display: table-cell; vertical-align: middle; opacity: 0.9; cursor: pointer;}
#sys-messages div.no {border: 2px solid #B7441E;}
#sys-messages div.ok {border: 2px solid #2693FF;}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

#video-background {
    position: absolute; z-index: 1; right: 0; bottom: 0; min-width: 100%; min-height: 100%; width: auto; height: auto;
}

.cursive {
    font-family: 'Dancing Script', cursive; text-transform: none;
    text-shadow:1px 0 1px #000;
}

.feature {
    margin: 50px auto 0;
    max-width: 400px;
}

.feature p {
    margin-bottom: 0;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.modal-content {
    background-color: #1d1d1d;
}

#footer1 {
    font-size: 14px;
    background-color: #2d2d2d;
}

#footer2 {
    background-color: #191919;
    box-shadow: 0 -1px 1px rgba(10, 10, 10, 0.8);
}


